:root {
    --bg: #ffffff;
    --text: #000000; 
    --card: #ffffff;
    --accent:#efc14c;
    --radius: #c2c2c2;
    --max-width: #ffffff;
    --glass: rgb(255,255,255);
    --btn: #a1a69f;
}

* {
    box-sizing: border-box;
}
html,body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Times New Roman, Georgia, system-ui, sans-serif;
    background: var(--bg);
    color: var(--text);
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.45;
}
.hero {
    max-width: var(--max-width);
    margin: 0;
    padding: 20px;
}
header {
    background: linear-gradient(rgb(223,231,221));
    backdrop-filter: blur(4px);
    top: 0;
    position: sticky;
    z-index: 1000;
    border-bottom: 1px solid rgb(255,255,255);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
}
.link-left {
    display: flex;
    gap: 15px;
    align-items: center;
}
.link-right {
    display: flex;
    gap: 15px;
    align-items: center;
}
.icons {
    display: flex;
    gap: 20px;
    align-items: center;
}
.link-right a:hover {
    opacity: .92;
    transform: translateY(-1px);
}
.link-left a:hover {
    opacity: .92;
    transform: translateY(-1px);
}

.hero-container {
    max-width: var(--max-width);
    padding: 30px;
    display: flex;
    gap: 18px;
    margin-top: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.hero-image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
.button {
    border: 1px solid#a1a69f;
    padding: 15px;
    color: #303230;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 20px;
}
.logo-container {
    background: url('../images/mob.jpg') center/cover no-repeat;
}
.btn {
    background: var(--accent);
    border: 1px solid#a1a69f;
    padding: 15px;
}
.trends {
    padding: 20px; 
    gap: 50px; 
    display: flex; 
    margin-bottom: 12px; 
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}
.lookbook {
    display: flex; 
    gap: 30px; 
    justify-content: space-between; 
    flex-wrap: wrap;
    flex-direction: column;
}

@media (min-width: 900) {
    .hero-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .trends {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .lookbook {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .links-container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}
@media (max-width: 899px) {
    .navbar {
        flex-wrap: wrap;
    }
    .hero-image {
        height: 200px;
    }
}

